@*@model LifeBoatCoreApplication.Models.Restaurant
    @model IEnumerable<LifeBoatCoreApplication.Models.Restaurant>*@
@model HomeIndexDTO
@*<h1>@Model.Id</h1>
    <div>@Model.Name</div>*@

@{
    ViewBag.Title = "Home Page";
}

<h1>All Restaurants</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>
                @*<a href="/home/details/@restaurant.Id">Details</a>
                    @Html.ActionLink("Show more information", "Details", new { id = restaurant.Id })*@
                <a asp-action="Details" asp-route-id="@restaurant.Id">More</a>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Create Restaurant</a>

@section footer{
<p>Default message: </p> @Model.DefaultMessage
}



